.myHeader {
  background: linear-gradient(90deg, #3FDCED 0%, #262994 45%);
  transition: all 1.5s ease-in-out;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

nav {
  display: flex;
  align-items: center !important;
  justify-content: center;
}
svg{
  height: 50px;
}
.myNavBarNav {
  align-items: center;
  
}
.navbar-toggler-icon{
  background-color: white !important;
}
.myHeaderActive {
  background: linear-gradient(90deg, #165a92 0%, #3281C3 45%);
  transition: all 1.5s ease-in-out;
  transform: scale(1.00);
}

.btn {
  color: white !important;
}

.btn:focus {
  outline: none;
}

.createAcctBtn:focus {
  outline: none;
}

.logo {
  height: 50px;
  background-color: transparent;
}
.iconBtn svg {
  color: white;
  
}

@media(max-width: 1200px) {

}
@media(max-width: 992px) {
.myHeaderActive {
  background: linear-gradient(90deg, #165a92 0%, #3281C3 45%);
}

.myHeader {
  background: linear-gradient(90deg, #165a92 0%, #3281C3 45%);
  transition: all 1.5s ease-in-out;
   padding-right: 1rem !important;
   padding-left: 1rem !important;
}
}
@media(max-width: 768px) {
.btn {
  color: white !important;
padding: .5rem 1rem .5rem 0rem !important;
}

}
@media(max-width: 576px){

}