.userProfile{
     background: url(./../images/background3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.container {
    margin: 5rem;
}
.root{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.root button{
    padding: 0;
}
.root p{
    margin: 0;
}
.divider{
    width: 100% !important;
    margin: 0 !important;
    margin: 1rem 0rem !important;
}
.names{
    display: flex;
    justify-content: space-between;
}

.email{
    display: flex;
    justify-content: space-between;
}
.phoneNumber{
    display: flex;
    justify-content: space-between;
}
.kycStatus{
    display: flex;
    justify-content: space-between;
}

.root2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divider2{
    margin-bottom: 1rem !important;
}


@media(max-width: 1200px) {

}

@media(max-width: 992px) {
   
}

@media(max-width: 768px) {
 
.container h6{
    font-size: .8rem;
}
.container p {
    font-size: .7rem;
}
.root p{
    font-size: .7rem;
}
}

@media(max-width: 576px) {
.container h6 {
    font-size: .7rem;
}
.container p {
    font-size: .7rem;
}
.container{
    padding: .4rem !important;
}
}

@media(max-width: 380px) {
   
}